@mixin height_width($height, $width) {
  height: $height;
  width: $width;
}

@mixin border($size, $type, $color, $border-box) {
  border: $size $type $color;
  box-sizing: $border-box;
}

@mixin flex($display, $justify-content, $align-items) {
  display: $display;
  justify-content: $justify-content;
  align-items: $align-items;
}

.container {
  @include height_width(100%, 100%);

  @media screen and (max-width: 620px) {
    @include height_width(100%, 100%);
  }

  .sub-Container_put {
    @include height_width(80%, 50%);
    @include border(1px, solid, lightgray, border-box);
    border-radius: 22px;
    background: #eceff4;
    box-shadow: 6px 6px 10px #5a5a5a, -6px -6px 10px #ffffff;

    @media screen and (max-width: 620px) {
      @include height_width(80%, 90%);
      @include border(1px, solid, black, border-box);
      box-shadow: none;
    }
  }

  .container-Header {
    @include height_width(20%, 100%);
    @include flex(flex, center, center);

    .MuiInputBase-input {
      height: 5px;
    }

    .MuiFormControl-root {
      margin: 5px 10px;
      width: 35%;
    }

    .put-ById {
      width: 20%;
      background-color: #1a31ff;
      color: #fff;
    }
  }

  .container-Body {
    @include height_width(80%, 100%);
    @include border(1px, solid, lightgray, border-box);

    .operation_Data_Table {
      @include height_width(20%, 100%);

      .operation_Data_Header {
        @include height_width(10%, 100%);

        .Header_Id {
          width: 8%;
          @include border(2px, solid, black, border-box);
        }

        .Header_Name {
          min-width: 20%;
          @include border(2px, solid, black, border-box);
        }
        .Header_Designation {
          min-width: 30%;
          @include border(2px, solid, black, border-box);
        }
        .Header_Address {
          min-width: 30%;
          @include border(2px, solid, black, border-box);
        }
        .Header_Mobile {
          min-width: 12%;
          @include border(2px, solid, black, border-box);
        }
      }
    }
  }
}
