.container {
  height: 100%;
  width: 100%;

  .sub_Container {
    width: 80%;
    height: 80%;
    border: 0px solid white;

    border-radius: 22px;
    background: #eceff4;
    box-shadow: 6px 6px 7px #898989, -6px -6px 7px #ffffff;
  }
}
